.navBar {
    height: 7rem;
    width: 100vw;
    margin:0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
    max-width: 80%
}

.logo {
    object-fit: cover;
    height: 3rem;
    width: 4rem;
}

.desktopMenuLinkItem {
    margin: 1rem;
    cursor: pointer;
    color: #0a5394;
}

.desktopMenuLinkItem:hover {
    color: #0a9490;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #0a9490;
}

.desktopButton {
    border: none;
    background: white;
    color: #031526;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 2rem;
}

.desktopMenuImage {
    object-fit: cover;
    height: 1rem;
    width: auto;
    margin: 1rem;
}