#resume {
    margin: 0 auto;
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 65%;
    padding: 0 1rem;
    border: 2px;
    border-style: solid;
    border-color: white;
    background-color: #041f38;
}

.resumeTitle {
    font-weight: 500;
    font-size: 3rem;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.25rem;
}

.resumeSection {
    padding-bottom: 0.75rem;
}

.resumeSubsection {
    display: flex;
    justify-content: space-between;
}

.resumeHeader {
    text-align: left;
    font-weight: 400;
    font-size: 2.5rem;
    padding: 0.5rem 0rem;
    color: #0a9490;
}

.resumeSubhead {
    font-weight: 250;
    font-size: 2rem;
}

.resumeJobTitle {
    font-weight: 200;
    font-size: 1.75rem;
}

.skillsFlex {
    display: flex;
    justify-content: space-between;
}

.resumePoint {
    font-size: 1rem;
    list-style: circle;
    margin-left: 1.25rem;
}

.resumeDescription {
    
}