.App {
  text-align: left;
}

.App-image {
  height: auto;
  max-width: 100%;
}

.App-navbar {
  color: #61dafb;
  display: flex;
  max-width: 300px;
  min-width: 250px;
  justify-content: space-between;
}

.App-quote-box {
  background-color: gold;
  padding: 10px;
  border-radius: 10px;
}

@media only screen and (min-width: 1000px) {
  .App-quote-box {
    max-width: 75%;
    margin: auto;
    display: block;
  }
}

.App-quote-carousel {
  background-color: white;
}